<!DOCTYPE html>
<head>
   <title>{{ page.title }}</title>
   <meta name="author" content="Anthony Sainez" />

   <!-- Syntax highlighting SCSS -->
   <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />

   <!-- Homepage SCSS -->
   <link rel="stylesheet" href="/assets/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
<div class="site">
  <div class="title">
    <a href="/">Anthony Sainez</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Anthony Sainez
        <br>
        <a href="../assets/curriculum_vitae.pdf">curriculum vitae</a>
        <br>
        tsainez@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/tsainez/">github</a><br />
        <a href="https://www.linkedin.com/in/anthonysainez/">linkedin</a><br />
      </p>
    </div>
  </div>
</div>
</body>
</html>